<section class="background background_large" style="background-image: url( {{ post.get_field('section_3_background') }} );">
	{{ function('vegetable_icon', 'top left', 'icon-veg-1.png') }}
	{{ function('vegetable_icon', 'bottom right', 'icon-veg-9.png') }}
	<div class="container">
		<h3 class="title-lg background__title">{{post.get_field('section_3_title')}}</h3>
		<div class="row">
			{% for icon in options.single_ration_section_rations.icons %}
				<div class="icon-column col-12 col-sm-4">
					<div class="icon icon_center">
						<div class="icon__header"><img class="icon__image" src={{icon.image}} alt=""></div>
						<div class="icon__title">{{icon.title}}</div>
						<div class="icon__content">{{icon.text}}</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</section>