<section class="background background_large business-sale" style="background-image: url( {{ post.get_field('section_5_background') }} );">
	{{ function('vegetable_icon', 'top left', 'icon-veg-4.png') }}
	<div class="container">
		<h3 class="title-lg background__title">{{post.get_field('section_5_title')}}</h3>
		<div class="row background__icons">
			{% for sale in post.get_field('section_5_sale') %}
				<div class="sale col-12 col-sm-4">
					<div class="sale__header">
						<p class="sale__price">{{sale.price}}<sup>грн</sup></p>
					</div>
					<div class="sale__body">
						{{sale.text}}
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="row background__banner-row">
			<div class="col-12 col-lg-10">
				{{ function('banner_form', post.get_field('section_5_form_title'), '[contact-form-7 id="29" title="Контактная форма 1" button-hidden-text="Выбрать и заказать свой рацион"]', 'banner-form_transparent banner-form_notag', 'tag-false' )}}
			</div>
		</div>
	</div>
</section>