<section class="specific">
	<div class="container background background_padding-x" style="background-image: url( {{ post.get_field('section_8_image') }} );">
		<div class="specific__header">
			<h3 class="title-lg">{{post.get_field('section_8_title')}}</h3>
			<h4 class="title-xs">{{post.get_field('section_8_subtitle')}}</h4>
		</div>
		<div class="row">
			{% for ration in post.get_field('section_8_rations') %}
				<div class="ration ration_light col-12 col-sm-6">
					<div class="ration__inner">
						<div class="ration__header">
							<img src={{ration.image}} class="ration__image">
						</div>
						<div class="ration__body">
							<p class="ration__title">{{ration.title}}</p>
							<div class="ration__content">
								<p>{{ration.text}}</p>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</section>