{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		<div class="fixed">
      <div class="nav" id="js-navigation">
        <div class="nav__container container">
          <div class="nav__row row">
            <div class="nav__logo col-8 col-md-2">
              <button class="hamburger hamburger_effect-2" type="button" id="js-nav-hamburger"><span class="hamburger__lines"><span></span><span></span><span></span><span></span></span>
              </button>
              <div class="nav__logo-content">
              	{{function('get_custom_logo')}}
              </div>
            </div>
            <nav class="nav__menu col-12 col-md-5 col-lg-6" id="js-navigation-menu"><ul>
              {% include "menu.twig" with {'menu': menu.get_items} %}
            </nav>
            <div class="nav__addition col-4 col-md-5 col-lg-4" id="js-nav-addition">
              <div class="nav__addition-toggle" id="js-nav-toggle"><span></span><span></span><span></span>
              </div>
              <div class="nav__addition-links js-nav-links">
              	<div class="nav__addition-phones">
              		{% for phone in options.telephones %}
              			<a class="nav__addition-link" href="tel: {{phone.phone}}">{{phone.phone}}</a>
              		{% endfor %}
              	</div>
              	<a href="#" class="btn btn_border-brand-1 effect effect_bounce-top nav__addition-btn">Проконсультироваться</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <main class="site">

			{% block content %}
				Sorry, no content
			{% endblock %}

			{% block footer %}
				<footer class="footer">
					{% include 'footer.twig' %}
				</footer>
				{{ function('wp_footer') }}
			{% endblock %}
		</main>
	</body>
</html>
